{% extends 'base.html' %}
{% load static %}

{% block title %}
  This Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block content %}
  <section id= 'summary'>
    <h2>Post Title</h2>
    <article>
      <img src="{% static 'blog/images/ww.jpg' %}" alt="Post Title">
      <address>By Max</address>
      <div>
        Last updated on <time>15th June</time>
      </div>
    </article>

  </section>

  <main>
    <p>
      {% lorem 3 p random %}
    </p>
  </main>

{% endblock content %}